---
interface Props {
    color: string;
    title: string;
    years: string;
}

const { color, title, years } = Astro.props;
---

<div
    class={`p-[2px] rounded-[10px] ${color} duration-300 hover:bg-${color}-500/60`}
>
    <div
        class="flex items-center justify-center gap-4 min-w-72 max-w-72 px-6 py-8 rounded-lg bg-gray-950"
    >
        <span class="text-6xl font-semibold text-white/90">+{years}</span>
        <div>
            <span class="text-3xl text-white/80">años</span>
            <h3 class={`text-${color}-500/85 font-semibold text-nowrap`}>
                {title}
            </h3>
        </div>
    </div>
</div>

<style>
    .pink {
        background-image: radial-gradient(
            at top,
            rgba(236, 72, 153, 0.6),
            rgb(31 41 55) 50%,
            rgb(3 7 18)
        );
        box-shadow: rgba(236, 72, 153, 0.1) 0px -8px 16px;
        transition: 300ms;
    }
    .pink:hover {
        box-shadow: rgba(217, 70, 239, 0.15) 0px -8px 24px;
    }

    .violet {
        background-image: radial-gradient(
            at top,
            rgba(139, 92, 246, 0.6),
            rgb(31 41 55) 50%,
            rgb(3 7 18)
        );
        box-shadow: rgba(139, 92, 246, 0.1) 0px -8px 16px;
        transition: 300ms;
    }
    .violet:hover {
        box-shadow: rgba(139, 92, 246, 0.15) 0px -8px 24px;
    }

    .sky {
        background-image: radial-gradient(
            at top,
            rgba(14, 165, 233, 0.6),
            rgb(31 41 55) 50%,
            rgb(3 7 18)
        );
        box-shadow: rgba(14, 165, 233, 0.1) 0px -8px 16px;
        transition: 300ms;
    }
    .sky:hover {
        box-shadow: rgba(14, 165, 233, 0.15) 0px -8px 24px;
    }
</style>
